@import url(normalized.css);

.body {
	width: 900px;
	margin: auto;
}
.header {
	position: fixed;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	height: 100px;
	width: 900px;
	background-color: white;
}
.headerLogo {
	width: 189px;
	height: 33px;
}
.navLink a {
	color: #1279C2;
	text-decoration: none;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	margin-right: 10px;
}
.mainImg {
	width: 600px;
	margin-top: 100px;
	padding: 20px 150px;
}
.main .textInBorder {
	border: 1px solid #AD1928;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 24px;
	margin-top: 140px;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 29px;
}
.main ol {
	list-style: decimal;
	list-style-position: inside;
}
.bottleImg {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.sparklingWater {
	height: 500px;
	padding-top: 20px;
}
.stillWater {
	height: 500px;
	padding-top: 20px;
}
.bottleImg p {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 29px;
	text-align: center;
}
.waterInformation {
	display: flex;
	justify-content: center;
	border: 1px solid #AD1928;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 24px;
	margin-top: 40px;
}
.waterText {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 29px;
}
.waterImg {
	height: 200px;
	padding-left: 20px;
	padding-right: 40px;
}
.footer {
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	height: 100px;
	background-color: #1174BD;
	margin-top: 40px;
}
.link a {
	text-decoration: none;
	color: white;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 57px;
	text-align: right;
}
.copyright {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 57px;
	color: #FFFFFF;
}
